annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
Babel
backcall
beautifulsoup4
bleach
blinker
bs4
cachetools
cassandra-driver
certifi
cffi
charset-normalizer
chart-studio
click
cmdstanpy
colorama
colorlover
comm
contourpy
cufflinks
cycler
debugpy
decorator
defusedxml
distro
docopt
executing
fastapi
fastjsonschema
Flask
flask-cors
fonttools
fqdn
geomet
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
gTTS
gunicorn
h11
holidays
httpcore
httplib2
httpx
idna
importlib_resources
ipykernel
ipython
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
jiter
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
lxml
MarkupSafe
matplotlib
matplotlib-inline
mistune
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
openai
opencv-python
overrides
packaging
pandas
pandas-datareader
pandocfilters
parso
pickleshare
pillow
pipreqs
platformdirs
plotly
prometheus_client
prompt_toolkit
prophet
proto-plus
protobuf
psutil
pure_eval
pyasn1
pyasn1_modules
PyAudio
pycparser
pydantic
pydantic_core
Pygments
pyparsing
PyPDF2
pytesseract
python-dateutil
python-json-logger
pyttsx3
pytz
PyYAML
pyzmq
qrcode
qtconsole
QtPy
referencing
requests
retrying
rfc3339-validator
rfc3986-validator
rpds-py
rsa
scikit-learn
scipy
seaborn
Send2Trash
setuptools
six
sniffio
soupsieve
SpeechRecognition
stack-data
stanio
starlette
terminado
threadpoolctl
tinycss2
